<!DOCTYPE html>
<html>
<head>
  <title>TwitterClone</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>

  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="materialize.min.css" media="screen,projection"/>

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<!--JavaScript at end of body for optimized loading-->
<!--<script type="text/javascript" src="materialize.min.js"></script>-->
<%= javascript_include_tag 'application' %>

</body>
</html>
